.pagination-nav {
    display: none;
}

.container {
  max-width: 100%;
  padding: 0;
}

/* ======================================== 
   TOC
=========================================*/ 

.theme-doc-markdown {
  padding: 0 1.5rem; /* Adjust as needed */
}

.theme-doc-toc-desktop div::-webkit-scrollbar {
  width: 7px;
}

.theme-doc-toc-desktop div::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}


/* ======================================== 
   Custom Text
=========================================*/ 

h7 {
  color: #1a73e8;         
  font-size: inherit;         
  font-weight: normal;    
  display: inline;        /* Inline, not block */
  margin: 0;              /* Prevent spacing issues */
}